<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABC College</title>
    <link rel="stylesheet" href="home.css">
</head>

<body>
    <nav>
        <div>
            <ul class="navi">
                <li class="li"><a href="http://localhost:3000/" class="anchor">Home</a></li>
                <li class="li"><a href="http://localhost:3000/signup" class="anchor">SignUp</a></li>
                <li class="li"><a href="http://localhost:3000/login" class="anchor">Login</a></li>
            </ul>
        </div>
    </nav>
</body>

</html>