<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABC College</title>
    <link rel="stylesheet" type="text/css" href="/home.css">
</head>

<body>
    <nav>
        <div>
            <ul class="navi">
                <li class="li"><a href="http://localhost:3000/login/<%= id.id %>/home" class="anchor">Home</li>
                <li class="li"><a href="http://localhost:3000/login/<%= id.id %>/registration"
                        class="anchor">Registration</a></li>
                <li class="li"><a href="http://localhost:3000/" class="anchor">Logout</a></li>
            </ul>
        </div>
    </nav>
</body>

</html>