<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money Tracker WebApp</title>
    <link rel="stylesheet" href="style.css">
    <style>
        .errorImage{
            width:60vw;
            height:60vh;
            position: relative;
            top:2vh;
            left:20vw;
        }
        .errormessage{
            text-align: center;
            color:red;
            font-size:5vh;
            position: relative;
            top:3vh;
        }
    </style>
</head>
<body>
    <nav>
        <ul class="navbar">
            <a href="/signup" class="anchor link link1">Back</a>
            <a href="/" class="anchor link link2">Home</a>
            <a href="" class="anchor link link3">New Expense</a>
            <a href="" class="anchor link link4">New Income</a>
            <a href="/signin" class="anchor link link5">Sign In</a>
            <a href="/signup" class="anchor link link6">Sign Up</a>
        </ul>
    </nav>
    <h1 class="errormessage">Duplicate Email Id</h1>
    <img src="errorImage.jpg" class="errorImage">
</body>

</html>