<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money Tracker WebApp</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="home.css">
</head>

<body>
    <nav>
        <ul class="navbar">
            <a href="" class="anchor link link1">Back</a>
            <a href="/" class="anchor link link2">Home</a>
            <a href="" class="anchor link link3">New Expense</a>
            <a href="" class="anchor link link4">New Income</a>
            <a href="/signin" class="anchor link link5">Sign In</a>
            <a href="/signup" class="anchor link link6">Sign Up</a>
        </ul>
    </nav>
    <div id="container">
        <img src="homeImage.jpg" id="part1" alt="">
        <div id="part2">
            <div class="heading">Keep Track Of Your Income & Expenses</div>
            <div class="line1">View all your income and expenses flow from your team in one dashbord</div>
            <div class="ac">Admin Login</div>
            <div class="acdata">User name:admin@gmail.com<br>password:12345</div>

        </div>
    </div>

</body>

</html>